<li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/about" | relative_url}}">{% octicon info height:18 %} About</a></li>
<li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/applications/" | relative_url}}">{% octicon gear height:18 %} Applications</a></li>
<li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{"/learning_capacity/"| relative_url}}">{% octicon mortar-board height:18 %} Learning and Capacity Building </a></li>
<!-- <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/dataset/" | relative_url}}">{% octicon database height:18 %}  Datasets</a></li> -->
<!-- <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://forum.u4ria.org/t/welcome-to-the-u4ria-forum/7 "><span class="nav-emoji">&#x1F465;</span>Community</a></li> -->
<li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/contact" | relative_url}}">{% octicon person-add height:18 %} Get Involved</a></li>
